/* Custom CSS */

:root {
  --vp-home-hero-name-color: #2B6389;
  --vp-c-brand-1: #2B6389;
  --vp-page-texts-dark: #2B6389;
  --vp-page-texts-light: #FFFFFF;
  --vp-block-background-blue: #2B6389;  /* #3E628A == rgb(62,98,138) */
  --vp-block-background-light: #F2F2F2;
}

.hc-text-dark {
  color: var(--vp-page-texts-dark) !important;
}

.hc-text-light {
  color: var(--vp-page-texts-light) !important;
}

.hc-home-page {
    display: block;
}

.hc-header {
    width: 100vw;
    max-width: 100%;
    /* margin-bottom: 64px; */
}

.hc-block {
  display: block;
  width: 100vw;
  max-width: 100%;
  min-height: 100px;
  line-height: 1.2;
  /* background-color: rgb(255, 255, 255); */
  @media screen and (max-width: 960px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Odd=light block */
.hc-block:nth-child(odd) {
  box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--vp-block-background-light);
  color: var(--vp-page-texts-dark);
}

/* Even=blue block */
.hc-block:nth-child(even) {
  /* background-color: rgb(238, 238, 238); */
  background-color: var(--vp-block-background-blue);
  color: rgb(255, 255, 255);
}

.hc-blue-block {
  background-color: var(--vp-block-background-blue) !important;
  color: rgb(255, 255, 255) !important;
}

.hc-light-block {
  /* background-color: rgb(255, 255, 255) !important; */
  background-color: var(--vp-block-background-light) !important;
  color: var(--vp-page-texts-dark) !important;
  /* background-color: unset !important; */
}

.hc-footer-block {
  background-color: #282D37 !important;
  /* color: var(--vp-page-texts-dark) !important; */
  color: rgb(255, 255, 255) !important;
}

.hc-title-main {
    /* color: rgb(0, 0, 0); */
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 64px;
    padding-bottom: 24px;
    font-weight: bold;
    font-size: min(6em, calc(16px + 3vw));
    line-height: 1.5 !important;
    /* @media screen and (max-width: 960px) {
      font-size: 8vw;
    } */
    /* @media screen and (max-width: 400px) {
      font-size: 8vw;
    } */
}

.hc-subtitle-main {
    /* color: rgb(0, 0, 0); */
    font-size: min(2em, calc(8px + 3vw));
    line-height: 1.5;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 48px;
    padding-top: 32px;
}

.hc-block-container {
    max-width: 960px;
    margin: 0 auto !important;
    padding: 32px 0px 64px 0px;
}

.hc-container-title {
    /* color: rgb(0, 0, 0); */
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 56px;
    padding-bottom: 24px;
    line-height: 1.5;
    font-weight: 500;
    font-size: min(3.5em, calc(20px + 1vw));
}

.hc-container-subtitle {
    /* color: rgb(0, 0, 0); */
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 32px;
    line-height: 1.5;
    font-size: min(1.5em, calc(6px + 2vw));
}

.hc-container-text {
    /* color: rgb(0, 0, 0); */
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 32px;
    line-height: 1.5;
    /* font-size: min(1.1em, calc(8px + 1vw)); */
}

.hc-row {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 33.3%;
    /* grid-auto-rows: 200px; */
    /* width: 100%; */
    /* max-width: 960px; */
    /* margin: 0 auto !important; */
}

.hc-col {
    display: inline-grid;
    /* background-color: rgb(0, 0, 0); */
}

.hc-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 40px;
    margin-right: 40px; */
}

.hc-page {
  display: block;
  z-index: 1;
  background-color: rgb(255, 255, 255) !important;
}

.hc-page {
  & > * {
    max-width: 960px;
    margin: 0 auto !important;
  }
  & > .hc-block-container {
    padding: 32px 0px 48px 0px !important;
  }
}

.white-bg {
  background-color: rgb(255, 255, 255) !important;
}

.scrollover {
  z-index: 1;
  margin-top: 50px;
  /* &:nth-of-type(2) {
    margin-top: 150px !important;
  } */
}

@media (min-width: 720px) {

    .hc-column {
        width: 33%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 960px) {

    .hc-header-img {
        background-image: url("/img/HAD_banner_1280_5.jpg");
        height: 350px;
    }
}

@media (min-width: 1280px) {

    .hc-header-img {
        background-image: url("/img/HAD_banner_1920_1.jpg");
        height: 450px;
    }
}

@media (min-width: 1920px) {

    .hc-header-img {
        background-image: url("/img/HAD_banner_1920_1.jpg");
        height: 700px;
    }
}

/* horizonal padding copied from .VPFeatures's padding */
/* .custom-layout {
    padding: 0 24px;
}

@media (min-width: 640px) {
    .custom-layout {
        padding: 0 48px;
    }
}

@media (min-width: 960px) {
    .custom-layout {
        padding: 0 64px;
    }
} */

.custom-container {
    max-width: 1152px;
    margin: 2rem auto 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.v-slide-group__content {
  justify-content: center;
}

.VPMenu {
  min-width: 256px !important;
}

.VPMenuGroup {
  & > .title {
    color: var(--vp-c-text-3) !important;
    font-size: 15px !important;
    padding-bottom: 8px !important;
  }
}
